.dark,
.dark-theme {
  --accent-1: #131f1c;
  --accent-2: #112420;
  --accent-3: #00372c;
  --accent-4: #004436;
  --accent-5: #005041;
  --accent-6: #005e4d;
  --accent-7: #00705c;
  --accent-8: #00866f;
  --accent-9: #2effdc;
  --accent-10: #0df5d2;
  --accent-11: #0db;
  --accent-12: #a4fde7;

  --accent-a1: #00e80005;
  --accent-a2: #00ec370b;
  --accent-a3: #00fb8720;
  --accent-a4: #00ff9f2e;
  --accent-a5: #00fcb03c;
  --accent-a6: #00ffbc4b;
  --accent-a7: #00fdc260;
  --accent-a8: #00ffc978;
  --accent-a9: #2effdc;
  --accent-a10: #0dffdaf4;
  --accent-a11: #00ffd6d9;
  --accent-a12: #a5ffe9fd;

  --accent-contrast: #072821;
  --accent-surface: #052d2180;
  --accent-indicator: #2effdc;
  --accent-track: #2effdc;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    .dark,
    .dark-theme {
      --accent-1: oklch(22.7% 0.0184 177.4);
      --accent-2: oklch(24.3% 0.0275 177.4);
      --accent-3: oklch(29.6% 0.0622 177.4);
      --accent-4: oklch(33.5% 0.0925 177.4);
      --accent-5: oklch(37.6% 0.1011 177.4);
      --accent-6: oklch(42.2% 0.1061 177.4);
      --accent-7: oklch(47.8% 0.1162 177.4);
      --accent-8: oklch(54.3% 0.1357 177.4);
      --accent-9: oklch(89.8% 0.1593 177.4);
      --accent-10: oklch(86.8% 0.1593 177.4);
      --accent-11: oklch(79.5% 0.1593 177.4);
      --accent-12: oklch(93% 0.0908 177.4);

      --accent-a1: color(display-p3 0 0.9765 0 / 0.018);
      --accent-a2: color(display-p3 0 0.9922 0.2235 / 0.04);
      --accent-a3: color(display-p3 0 0.9961 0.5529 / 0.119);
      --accent-a4: color(display-p3 0.0471 1 0.6549 / 0.176);
      --accent-a5: color(display-p3 0.1686 1 0.7216 / 0.229);
      --accent-a6: color(display-p3 0.251 1 0.7686 / 0.286);
      --accent-a7: color(display-p3 0.3098 1 0.7882 / 0.365);
      --accent-a8: color(display-p3 0.3608 0.9961 0.8118 / 0.461);
      --accent-a9: color(display-p3 0.4941 1 0.8784 / 0.983);
      --accent-a10: color(display-p3 0.4627 1 0.8745 / 0.939);
      --accent-a11: color(display-p3 0.4431 1 0.8549 / 0.838);
      --accent-a12: color(display-p3 0.7333 1 0.9216 / 0.983);

      --accent-contrast: #072821;
      --accent-surface: color(display-p3 0.051 0.1725 0.1255 / 0.5);
      --accent-indicator: oklch(89.8% 0.1593 177.4);
      --accent-track: oklch(89.8% 0.1593 177.4);
    }
  }
}

.dark,
.dark-theme {
  --gray-1: #1a1d1d;
  --gray-2: #212424;
  --gray-3: #292d2c;
  --gray-4: #2e3333;
  --gray-5: #333939;
  --gray-6: #3b4241;
  --gray-7: #464f4e;
  --gray-8: #5a6665;
  --gray-9: #677372;
  --gray-10: #737f7f;
  --gray-11: #acb7b6;
  --gray-12: #ecefee;

  --gray-a1: #00c50003;
  --gray-a2: #64ec930b;
  --gray-a3: #a3f6bd15;
  --gray-a4: #b6fedc1b;
  --gray-a5: #bcfce222;
  --gray-a6: #c7fee42c;
  --gray-a7: #cbfceb3b;
  --gray-a8: #d5fff454;
  --gray-a9: #dbfdf563;
  --gray-a10: #e0fffa70;
  --gray-a11: #edfffbaf;
  --gray-a12: #fbfefdee;

  --gray-contrast: #ffffff;
  --gray-surface: rgba(0, 0, 0, 0.05);
  --gray-indicator: #677372;
  --gray-track: #677372;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    .dark,
    .dark-theme {
      --gray-1: oklch(22.7% 0.004 191.2);
      --gray-2: oklch(25.7% 0.0037 191.2);
      --gray-3: oklch(29.2% 0.005 191.2);
      --gray-4: oklch(31.6% 0.0069 191.2);
      --gray-5: oklch(34% 0.0081 191.2);
      --gray-6: oklch(37.1% 0.0091 191.2);
      --gray-7: oklch(41.9% 0.011 191.2);
      --gray-8: oklch(50% 0.0143 191.2);
      --gray-9: oklch(54.5% 0.0152 191.2);
      --gray-10: oklch(58.7% 0.015 191.2);
      --gray-11: oklch(77% 0.0126 191.2);
      --gray-12: oklch(94.9% 0.0024 191.2);

      --gray-a1: color(display-p3 0 0.9804 0 / 0.009);
      --gray-a2: color(display-p3 0.6039 0.9922 0.6157 / 0.04);
      --gray-a3: color(display-p3 0.7608 1 0.7686 / 0.079);
      --gray-a4: color(display-p3 0.7804 0.9961 0.8627 / 0.106);
      --gray-a5: color(display-p3 0.8 1 0.8941 / 0.132);
      --gray-a6: color(display-p3 0.8235 0.9961 0.898 / 0.172);
      --gray-a7: color(display-p3 0.851 1 0.9294 / 0.229);
      --gray-a8: color(display-p3 0.8667 1 0.9569 / 0.329);
      --gray-a9: color(display-p3 0.8863 1 0.9686 / 0.386);
      --gray-a10: color(display-p3 0.902 1 0.9804 / 0.439);
      --gray-a11: color(display-p3 0.9451 0.9961 0.9843 / 0.685);
      --gray-a12: color(display-p3 0.9922 1 0.9961 / 0.93);

      --gray-contrast: #ffffff;
      --gray-surface: color(display-p3 0 0 0 / 5%);
      --gray-indicator: oklch(54.5% 0.0152 191.2);
      --gray-track: oklch(54.5% 0.0152 191.2);
    }
  }
}

.dark,
.dark-theme,
:is(.dark, .dark-theme) :where(.radix-themes:not(.light, .light-theme)) {
  /* --color-background: #1e1b1f; */
}

.light,
.light-theme {
  --accent-1: #f0f6f3;
  --accent-2: #e7f3ed;
  --accent-3: #d1f1e2;
  --accent-4: #b9ecd5;
  --accent-5: #9ce6c6;
  --accent-6: #75ddb3;
  --accent-7: #24cf9a;
  --accent-8: #00b67f;
  --accent-9: #009e6d;
  --accent-10: #009062;
  --accent-11: #00764f;
  --accent-12: #004129;

  --accent-a1: #18d87808;
  --accent-a2: #07bb6111;
  --accent-a3: #05d17228;
  --accent-a4: #04cc7241;
  --accent-a5: #01c9735e;
  --accent-a6: #02c67787;
  --accent-a7: #00c88ada;
  --accent-a8: #00b67f;
  --accent-a9: #009e6d;
  --accent-a10: #009062;
  --accent-a11: #00764f;
  --accent-a12: #004129;

  --accent-contrast: #fff;
  --accent-surface: #e4f3ebcc;
  --accent-indicator: #009e6d;
  --accent-track: #009e6d;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    .light,
    .light-theme {
      --accent-1: oklch(96.8% 0.0084 165.5);
      --accent-2: oklch(95.4% 0.0152 165.5);
      --accent-3: oklch(93% 0.0382 165.5);
      --accent-4: oklch(90.2% 0.0609 165.5);
      --accent-5: oklch(86.7% 0.0861 165.5);
      --accent-6: oklch(82.2% 0.115 165.5);
      --accent-7: oklch(76.1% 0.1522 165.5);
      --accent-8: oklch(67.7% 0.2072 165.5);
      --accent-9: oklch(60.9% 0.2283 165.5);
      --accent-10: oklch(56.7% 0.2275 165.5);
      --accent-11: oklch(49% 0.2158 165.5);
      --accent-12: oklch(32.5% 0.0854 165.5);

      --accent-a1: color(display-p3 0.0314 0.8157 0.3451 / 0.025);
      --accent-a2: color(display-p3 0.0078 0.6941 0.2824 / 0.057);
      --accent-a3: color(display-p3 0.0039 0.7608 0.3686 / 0.13);
      --accent-a4: color(display-p3 0.0039 0.749 0.3569 / 0.211);
      --accent-a5: color(display-p3 0.0039 0.7255 0.3647 / 0.304);
      --accent-a6: color(display-p3 0.0039 0.7098 0.3647 / 0.422);
      --accent-a7: color(display-p3 0 0.6863 0.3882 / 0.6);
      --accent-a8: color(display-p3 0 0.5725 0.2941 / 0.673);
      --accent-a9: color(display-p3 0 0.4706 0.2353 / 0.717);
      --accent-a10: color(display-p3 0 0.4157 0.2 / 0.745);
      --accent-a11: color(display-p3 0 0.3255 0.1569 / 0.798);
      --accent-a12: color(display-p3 0 0.1725 0.0824 / 0.903);

      --accent-contrast: #fff;
      --accent-surface: color(display-p3 0.902 0.9529 0.9255 / 0.8);
      --accent-indicator: oklch(60.9% 0.2283 165.5);
      --accent-track: oklch(60.9% 0.2283 165.5);
    }
  }
}

.light,
.light-theme {
  --gray-1: #f1f5f4;
  --gray-2: #edf0f0;
  --gray-3: #e3e7e6;
  --gray-4: #dadfde;
  --gray-5: #d2d7d6;
  --gray-6: #cacfce;
  --gray-7: #bec3c2;
  --gray-8: #aab1b0;
  --gray-9: #778381;
  --gray-10: #6e7977;
  --gray-11: #535b5a;
  --gray-12: #162220;

  --gray-a1: #1daf8a07;
  --gray-a2: #1055550b;
  --gray-a3: #05352915;
  --gray-a4: #012c231e;
  --gray-a5: #06262027;
  --gray-a6: #031e192f;
  --gray-a7: #0117123b;
  --gray-a8: #01171450;
  --gray-a9: #02191585;
  --gray-a10: #0115128e;
  --gray-a11: #010d0caa;
  --gray-a12: #010e0ce9;

  --gray-contrast: #ffffff;
  --gray-surface: #ffffffcc;
  --gray-indicator: #778381;
  --gray-track: #778381;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    .light,
    .light-theme {
      --gray-1: oklch(96.6% 0.0035 183.8);
      --gray-2: oklch(95.3% 0.0037 183.8);
      --gray-3: oklch(92.5% 0.0048 183.8);
      --gray-4: oklch(89.9% 0.0049 183.8);
      --gray-5: oklch(87.6% 0.0056 183.8);
      --gray-6: oklch(85% 0.0056 183.8);
      --gray-7: oklch(81.4% 0.0061 183.8);
      --gray-8: oklch(75.4% 0.0074 183.8);
      --gray-9: oklch(60% 0.0145 183.8);
      --gray-10: oklch(56.5% 0.0135 183.8);
      --gray-11: oklch(46.4% 0.0108 183.8);
      --gray-12: oklch(24% 0.0169 183.8);

      --gray-a1: color(display-p3 0.0353 0.5961 0.4118 / 0.021);
      --gray-a2: color(display-p3 0.0157 0.2275 0.2275 / 0.037);
      --gray-a3: color(display-p3 0.0039 0.1569 0.1059 / 0.077);
      --gray-a4: color(display-p3 0.0078 0.1451 0.1098 / 0.114);
      --gray-a5: color(display-p3 0.0039 0.1098 0.0824 / 0.146);
      --gray-a6: color(display-p3 0.0078 0.0941 0.0706 / 0.179);
      --gray-a7: color(display-p3 0.0039 0.0706 0.0549 / 0.227);
      --gray-a8: color(display-p3 0.0039 0.0784 0.0667 / 0.308);
      --gray-a9: color(display-p3 0 0.0784 0.0627 / 0.511);
      --gray-a10: color(display-p3 0 0.0667 0.051 / 0.547);
      --gray-a11: color(display-p3 0 0.0431 0.0353 / 0.66);
      --gray-a12: color(display-p3 0 0.0392 0.0314 / 0.899);

      --gray-contrast: #ffffff;
      --gray-surface: color(display-p3 1 1 1 / 80%);
      --gray-indicator: oklch(60% 0.0145 183.8);
      --gray-track: oklch(60% 0.0145 183.8);
    }
  }
}

.light,
.light-theme,
.radix-themes {
  /* --color-background: #f7f7f7; */
}
