.SideBar {
  z-index: 25;
  display: inline-flex !important;
  flex-direction: row !important;
  position: absolute;
  border-radius: 8px;
  top: 24px;
  left: 24px;
  bottom: 24px;
  /* gap: 12px; */
  height: calc(100vh - 48px);
  background: linear-gradient(to bottom, #ffffffad, #ffffffe1) !important;
  --card-background-color: #ffffff60 !important;
  backdrop-filter: saturate(180%) blur(10px);
  padding: 0px !important;
  /* padding-right: 0px !important; */
}

.SectionItem {
  transition: background 0.3s ease-in-out;
  /* border: 2px solid #2b262d; */
  background: transparent;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  height: 48px;
  width: 48px;
  max-width: 48px;
  aspect-ratio: 1 / 1;
}

.SideBarIcon {
  scale: 1;
}

.SectionItem.active {
  background: var(--gray-5);
}

.SectionItem:hover {
  background: var(--gray-3);
}

.SideBarAvatar {
  border-radius: 8px;
  background: var(--gray-3);
}

.SideBarAvatar > img {
  /* border: 2px solid #2b262d; */
}

.SideBarAvatar.active > img {
  /* border: 2px solid var(--gray-1); */
}

.Section {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 8px;
}

.IconBar {
  display: flex;
  flex-direction: column;
  width: 64px;
}
